
/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto; /* This centers the content horizontally */
}
nav a {
    text-align: center;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #f0f0f0; /* Example color */
    font-family: Robuto, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}

header {
    background-color: #ffffff; /* Example color */
}

nav a:hover {
    background-color: #cccccc; /* Example color */
}

.book, .join {
    background-color: #ffcc00; /* Example color */
}

.book:hover, .join:hover {
    background-color: #ff9900; /* Example color */
}

#background {
    background-color: #66ccff; /* Example color */
}

.msg {
    background-color: #99ff99; /* Example color */
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: #333333; /* Example color */
    padding: 25px 50px;
    margin-top: 200px;
}
nav a,
nav a:hover {
    color: #336699; /* Example color */
}

.home-title  {
    font-family: 'Robuto', 'Libre Franklin', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4,
.msg h2,
footer,
footer a,
footer a:hover {
    color: #000000; /* Example color */
}

.book,
.join {
    color: #ffcc00; /* Example color */
}

.book:hover,
.join:hover {
    color: #ff9900; /* Example color */
}

.msg p {
    color: #333333; /* Example color */
    padding-bottom: 15px;
}
.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}
nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}
footer a {
    text-decoration: none;
}

nav a:hover,
.book:hover,
.join:hover,
footer a:hover {
    text-decoration: underline;
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}  
